DE2Pac_synthesizer/db/DE2Pac_synthesizer.quiproj.7664.rdr.flock

DE2Pac_synthesizer/**
!DE2Pac_synthesizer/DE2Pac_synthesizer.qpf
!DE2Pac_synthesizer/DE2Pac_synthesizer.qsf
!DE2Pac_synthesizer/DE2Pac_synthesizer.qsf.bak
!DE2Pac_synthesizer/DE2Pac_synthesizer.qws
!DE2Pac_synthesizer/db/DE2Pac_synthesizer.db_info
!DE2Pac_synthesizer/db/DE2Pac_synthesizer.sld_design_entry.sci